<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Academia ITSON</title>
        <link rel="stylesheet" href="resources/styles/styleForms.css">

        <link rel="icon" href="resources/imgs/academia-logo.png">
    </head>
<body>
    <section class="content03">
        
        <div class="cardContra">
            <h1 class="fotos">ELIMINAR EQUIPO</h1>
        </div>
    </section>

    <section class="login-body">
        <div class="login-container">
            <form action="/eliminarEquipoNuevo" method="GET">
                <select name="equipo">
                    <% equipos.forEach(equipo => { %>
                        <option value="<%= equipo.id_equipo %>"> <%= equipo.nombre %> </option>
                        <% }); %>
                </select>
                <input type="submit" name="eliminar" value="Elimnar">
            </form>
          </div>
    </section>
    <div class="regresar">
    <a href="/formEliminarEquipo"><img src="resources/imgs/flecha.png" alt="Flecha de regreso"></a>
</div>
    
</body>
</html>