
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pageTitle || 'Academia ITSON' %></title>

  <!-- Usa rutas absolutas para evitar 404 al cambiar de carpeta -->
  <link rel="stylesheet" href="/resources/styles/styleForms.css" />
  <link rel="icon" href="/resources/imgs/logo.png" />
