<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title || 'Academia ITSON' %></title>
<link rel="icon" href="/resources/imgs/academia-logo.png">
<link rel="stylesheet" href="/resources/styles/styleAdmin.css">