<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia ITSON</title>
    <link rel="stylesheet" href="resources/styles/styleMain.css">
    <link rel="stylesheet" href="resources/styles/stylePago.css">
    <link rel="icon" href="resources/imgs/academia-logo.png">
</head>
<body>
        <div class="cardContra">
            <p>CAMBIAR CONTRASEÑA</p>
        </div>
    </section>

    <section class="login-body">
        <div class="login-container">
            <form id="login-form" method="post" action="">
              <input type="text" name= "username" placeholder="Contraseña anterior" required>
              <input type="password" name="password" placeholder="Contraseña nueva" required>
              <button type="submit" name="iniciar">Cambiar </button><!-- Botón para iniciar sesión -->
            </form>
          </div>
    </section>
    <div class="regresar">
    <a href="Pagos.ejs"><img src="resources/imgs/flecha.png" alt="Flecha de regreso"></a>
</div>
</body>
</html>