<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head') %>
</head>
<body>

  <%- include('partials/navbar_public', { showLoginGhost: true }) %>

  <section class="content03">
    <div class="card">
      <h1>ACADEMIA DE BEISBOL POTROS ITSON</h1>
    </div>
  </section>

  <script src="/resources/js/Animaciones.js"></script>
</body>
</html>
