<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia ITSON</title>
    <link rel="stylesheet" href="resources/styles/styleMain.css">
    <link rel="icon" href="resources/imgs/academia-logo.png">
    <link rel="stylesheet" href="resources/styles/styleCategorias.css">
</head>
<body>
    <section class="content01">_</section>
    <nav>
        <img src="resources/imgs/potros.png" alt="POTROS ITSON">
        <div>
            <a href="index.ejs">INICIO</a>
        </div>
        <div>
            <a href="Estadisticas.ejs">ESTADISTICAS</a>
        </div>
        <div>
            <a href="JugadoresD.ejs">JUGADORES DESTACADOS</a>
        </div>
        <div>
            <a href="Pagos.ejs">PAGOS</a>
        </div>
        <div>
            <a href="Coordinadores.ejs">COORDINADORES</a>
        </div>
        <div>
            <a href="Standing.ejs">STANDING</a>
        </div>
        <img src="resources/imgs/logo.png" alt="Logo">
    </nav>
    <section class="content02">_</section>
    <section class="categorias-section">
  <h1 class="titulo">Categorías</h1>

  <div class="categorias-grid">
    <% categorias.forEach(categoria => { %>
      <div class="categoria-card">
        <img src="/<%= categoria.url_foto %>" alt="Foto categoría" class="categoria-img">
        <div class="categoria-info">
          <h2><%= categoria.nombre_categoria %></h2>
          <a href="/categorias/<%= categoria.id_categoria %>/equipos" class="boton-ir">Ver equipos</a>
        </div>
      </div>
    <% }); %>
  </div>
</section>
</body>
</html>