<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia ITSON</title>
    <link rel="stylesheet" href="resources/styles/styleForms.css">
    <link rel="icon" href="resources/imgs/academia-logo.png">

</head>
<body>
    <section class="content01">
        <div class ="regreso">
        <a href="logout">Cerrar Sesion</a>
         </div>
        <div class="perfil">
            <% if (usuario) { %>
            <p> User:  <%= usuario.nombres %> </p>
            <% } %>
        </div>
    </section>
    <nav>
        <img src="resources/imgs/potros.png" alt="POTROS ITSON">
        <div>
            <a href="/formCoordinadores">FORMULARIO FOTOS EQUIPOS</a>
        </div>
        <div>
            <a href="/CoordFotoCate">FORMULARIO FOTOS CATEGORIAS</a>
        </div>
        <div>
            <a href="/CoordAgregar">FORMULARIO AGREGAR JUGADORES</a>
        </div>
        <div>
            <a href="/CoordEliminar">FORMULARIO ELIMINAR JUGADORES</a>
        </div>
        <div>
            <a href="/CoordActualizar">FORMULARIO ACTUALIZAR JUGADORES</a>
        </div>
        <div>
            <a href="/CoordPagos">FORMULARIO PARA REGISTRAR PAGO SEMANAL</a>
        </div>
        <div>
            <a href="/CoordContraNueva">CAMBIAR CONTRASEÑA</a>
        </div>
        <img src="resources/imgs/logo.png" alt="Logo">
    </nav>
    <script>
        // Agregar el evento a todos los enlaces con clase 'link'
        document.querySelectorAll('.link').forEach(function(link) {
            link.addEventListener('click', function(e) {
                e.preventDefault(); // Evita que el link se cargue inmediatamente
                const url = this.href; // Captura la URL del enlace

                // Añadir la clase fade-out para iniciar la animación de desvanecimiento
                document.body.classList.add('fade-out');

                // Esperar a que la animación de desvanecimiento termine (0.5s) y luego redirigir
                setTimeout(function() {
                    window.location.href = url; // Cambia a la nueva URL después de la animación
                }, 200); // Espera 500 ms para redirigir
            });
        });
    </script>
    <script src="resources/js/Animaciones.js"></script>
    <section class="content02">_</section>
    <h1 class="act">FORMULARIO PARA ACTUALIZAR DATOS DEL JUGADOR</h1>
    
    <form action="/datos" method="POST">
        <label for="name">Nombre Completo Del Jugador:</label>
        <input type="text" placeholder="Nombres" required>
        <input type="text" placeholder="Apellido Paterno" required>
        <input type="text" placeholder="Apellido Materno" required>
        <label for="categoria">Selecciona La Categoría:</label>
        <select name="categoria" id="categoria" required>
            <option value="3-4">3-4 Años</option>
            <option value="5-6">5-6 Años</option>
            <option value="7-8">7-8 Años</option>
            <option value="9-10">9-10 Años</option>
            <option value="11-12">11-12 Años</option>
            <option value="13-14">13-14 Años</option>
            <option value="15-16">15-16 Años</option>
        </select>
        <input type="submit" value="Buscar" onclick="mostrarMensaje()">
        <script>
            function mostrarMensaje() {
                alert("JUGADOR ENCONTRADO CON EXITO");
            }
        </script>
    </form>

</body>
</html>