<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia ITSON</title>
    <link rel="stylesheet" href="resources/styles/styleForms.css">
    <link rel="icon" href="resources/imgs/academia-logo.png">

</head>
<body>
   <%- include('../partials/coordNav', { usuario }) %>
    <h1 class="eliminar">FORMULARIO PARA ELIMINAR JUGADORES</h1>
    
    <form action="/datos" method="POST" >
        <label for="name">Elige el jugador:</label>
        <select name="jugador" id="juagdor" required>
            
        </select>

        <label for="categoria">Selecciona La Categoría:</label>
        
        <input type="submit" value="BUSCAR" onclick="mostrarMensaje()">
        <script>
            function mostrarMensaje() {
                alert("JUGADOR ENCONTRADO CON EXITO");
            }
        </script>
    </form>

</body>
</html>