<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Academia ITSON</title>
        <link rel="stylesheet" href="resources/styles/styleForms.css">

        <link rel="icon" href="resources/imgs/academia-logo.png">
    </head>
<body>
    <section class="content03">
        
        <div class="cardContra">
            <h1 class="fotos">ACTUALIZAR ENTRENADOR</h1>
        </div>
    </section>

    <section class="login-body">
        <div class="login-container">
            <form action="/actualizaEntrenadorNuevo" method="GET">
                <select name="entrenador">
                    <% entrenadores.forEach(entrenador => { %>
                        <option value="<%= entrenador.id_entrenador %>"> <%= entrenador.nombres %> </option>
                        <% }); %>
                </select>
                <input type="submit" name="eliminar" value="Elimnar">
            </form>
          </div>
    </section>
    <a href="/formActualizarEntrenador"><img src="resources/imgs/flecha.png" alt="Flecha de regreso"></a>
    
</body>
</html>