<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Academia ITSON</title>
        <link rel="stylesheet" href="resources/styles/styleForms.css">

        <link rel="icon" href="resources/imgs/academia-logo.png">
    </head>
<body>
    <section class="content03">
        
        <div class="cardContra">
            <h1 class="fotos">ACTUALIZAR USUARIO</h1>
        </div>
    </section>

    <section class="login-body">
        <div class="login-container">
            <form action="" method="POST">
                <label for="usuario">Escribe el usuario:</label>
        <input type="text" name="user"  value="<%= usuarios.usuario %>" >
        <label for="Contraseña">Escriba la Contraseña:</label>
        <input  type="text" name="Contraseña" value="<%= usuarios.contra %>" >
                <input type="submit" value="Actualizar" onclick="return confirm('¿Estás seguro de que deseas actualizar este Usuario?');">
                    
            </form>
          </div>
    </section>
    <div class="regresar">
    <a href="/formActualizarUsuarioJugador"><img src="resources/imgs/flecha.png" alt="Flecha de regreso"></a>
</div>
    
</body>
</html>