<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Academia ITSON</title>
        <link rel="stylesheet" href="resources/styles/styleMain.css">
        <link rel="stylesheet" href="resources/styles/stylePago.css">
        <link rel="icon" href="resources/imgs/academia-logo.png">
    </head>
<body>
    <section class="content03">
        
        <div class="cardContra">
            <p>ELIMINAR USUARIO JUGADOR</p>
        </div>
    </section>

    <section class="login-body">
        <div class="login-container">
            <form action="" method="POST">
                <select name="equipo">
                    <% jugadores.forEach(jugador => { %>
                        <option value="<%= jugador.id_jugador %>"> <%= jugador.nombres %> </option>
                        <% }); %>
                </select>
            </form>
          </div>
    </section>
    <div class="regresar">
    <a href="/formEliminarCategoria"><img src="resources/imgs/flecha.png" alt="Flecha de regreso"></a>
</div>
    
</body>
</html>