<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia ITSON</title>
    <link rel="stylesheet" href="resources/styles/styleForms.css">
    <link rel="icon" href="resources/imgs/academia-logo.png">

</head>
<body>
   <%- include('../partials/coordNav', { usuario }) %>
    <h1 class="agg">FORMULARIO PARA AGREGAR JUGADORES</h1>
    
    <form action="/register" method="POST">
        <label for="name">Nombre Completo Del Jugador:</label>
        <input type="text" placeholder="Nombres" required>
        <input type="text" placeholder="Apellido Paterno" required>
        <input type="text" placeholder="Apellido Materno" required>
        <label for="date">Fecha De Nacimiento:</label>
        <input type="date" required>


        <label for="equipo">Nombre Del Equipo  De La Temporada:</label>
        <select name="equipo">
           
        </select>

        <label for="fotoJugador">Subir Foto Del Jugador:</label>
        <input type="file" name="fotoJugador" id="fotoJugador" accept="image/*">

        <input type="submit" value="AGREGAR" onclick="mostrarMensaje()">
        <script>
            function mostrarMensaje() {
                alert("JUGADOR AGREGADO CON EXITO");
            }
        </script>
    </form>

</body>
</html>