@import url('https://fonts.googleapis.com/css2?family=Anton&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.content03{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.card{
    background-color: #FFF;
    display: flex;
    margin: auto;
    justify-content: center;
    width: 34%;
    border-radius: 4.5rem;
}
.card p{
    margin: 0;
    padding: 1rem;
    font-family: "Anton", sans-serif;
    font-size: 56px;
    color: #0E5688;
}