@import url('https://fonts.googleapis.com/css2?family=Anton&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Estilos generales */
body {
    background-color: #0079C2;
    padding: 0;
    margin: 0;
    transition: opacity 0.5s ease-in-out;
}

.content01, .content02 {
    background-color: #0E5688;
    padding: 1.5rem 1rem;
}

.content01 a {
    background-color: tomato;
    font-family: "Source Sans 3", sans-serif;
    color: #FFF;
    font-size: 1.4rem;
    text-decoration: none;
}

/* Tarjeta de contenido */
.card {
    background-color: #FFF;
    display: flex;
    margin: auto;
    justify-content: center;
    width: 80%;
    max-width: 500px;
    border-radius: 4rem;
    margin-top: 1rem;
}

.card h1 {
    font-family: "Anton", sans-serif;
    font-size: 2.75rem;
    color: #0E5688;
    text-align: center;
}

/* Contenedor de categorías */
.categorias-container {
    padding: 0 1.5rem;
}

.categorias, .categorias02 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.categorias img, .categorias02 img {
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

/* Navbar */
nav {
    background-color: #FFF;
    margin: auto;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    overflow-x: auto; /* Scroll horizontal */
    white-space: nowrap;
}

nav img {
    width: 70px;
    max-width: 10vw;
}

nav a {
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav a:hover {
    transform: scale(1.1);
    color: red;
}

nav .active {
    color: red;
}

/* Efecto de escala */
.scale {
    transform: scale(1.2);
}

a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transition: width 0.3s ease;
}

/* Responsividad para pantallas medianas (tabletas y celulares grandes) */
@media (max-width: 768px) {
    nav {
        padding: 1rem 2%;
        gap: 2rem;
    }

    nav img {
        width: 10vw;
    }

    nav a {
        font-size: 1.25rem;
    }

    .card {
        width: 90%;
    }

    .categorias img, .categorias02 img {
        height: 150px;
        width: 150px;
    }
}

/* Responsividad para pantallas pequeñas (celulares) */
@media (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding: 1rem 2%;
    }

    nav img {
        width: 20vw;
        max-width: 60px;
    }

    nav a {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .content01, .content02 {
        padding: 1rem 2%;
    }

    .card {
        width: 95%;
    }

    .card h1 {
        font-size: 2rem;
    }

    .categorias img, .categorias02 img {
        height: 100px;
        width: 100px;
    }
}
